{% extends 'base.html' %}
{% block content %}
{% for i in movies %}
  <div class="p-5 mb-4 rounded-3" >
    <div class="container-fluid py-5" style="padding: 100px; background-color: rgb(19, 75, 112);">
        <h1 class="display-5 fw-bold" style="text-decoration-color: aliceblue;">{{i.name}}</h1>
        <div style="display: flex; background-color: 
rgb(80, 140, 155)">
        </a><img src="{{i.image.url}}" alt="{{i.name}}" style="width: 410px; height: 500px;">
      <p class="col-md-8 fs-4" style="width: 500px; margin-left: 20px;">{{i.description|slice:":500"}}...</p>
    </div >
      <div style="display: flex; margin-top: 20px;">
        <a href="{% url 'detail' i.id %}">
        <button class="btn btn-primary btn-lg text-bg-dark" type="button">Подробнее</button>
        </a>
<p style="margin-left: 400px"> {{i.realised_date}}</p>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}