{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% block content %}


<div class="container-fluid py-5" style="background-color: rgba(253, 224, 3, 0.636); width: 500px;">
  <main class="form-signin w-100 m-auto">
    <div class="container">
    <form action="{% url 'registration' %}" method="post">
    {% csrf_token %}
    <div class="element">
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <h1>{{form.username}}</h1>
    </div>
    <div class="element">
        <br>
        <h1>{{form.email}}</h1>
    </div>
    <br>
    <div class="element">
        <h1>{{form.password1}}</h1>
    </div>
    <br>
    {{form.password2}}
    <br>
    <input type="submit" name="" id="">
    </div>
</div>


{% endblock %}
